<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Test1" parallel="classes" thread-count="2">
        <classes>
            <class name="Assignment.Amitha.Product1">
                <methods>
                    <include name="Url"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="Test2" parallel="classes" thread-count="2">
        <classes>
            <class name="Assignment.Amitha.Product2">
                <methods>
                    <include name="Data1"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>